body {
    width: 100%;
    background-color: #e63946;
}

header {
    background-color: #e63946;
    color: #f1faee;
    text-align: center;
}

nav {
    background-color: #f1faee;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

section {
    background-color: #a8dadc;
    margin-left: 5%;
    margin-right: 5%;
}

article {
    background-color: #a8dadc;
    margin-left: 5%;
    margin-right: 5%;
}

footer {
    background-color: #457b9d;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
}